@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Exo+2:ital@1&family=Permanent+Marker&family=Roboto+Condensed:wght@700&family=Roboto+Mono:wght@500&family=Roboto:wght@300;400&family=Rubik+Iso&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#gamesTXT {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5em;
}

#RSTXT {
    color: white;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

