@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Permanent+Marker&family=Roboto+Mono:wght@500&family=Roboto:wght@300&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Permanent+Marker&family=Roboto+Mono:wght@500&family=Roboto:wght@300&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Permanent+Marker&family=Roboto+Condensed:wght@700&family=Roboto+Mono:wght@500&family=Roboto:wght@300&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Permanent+Marker&family=Roboto+Condensed:wght@700&family=Roboto+Mono:wght@500&family=Roboto:wght@300;400&family=Rubik+Iso&display=swap');

* {
    margin: 0;
    padding: 0;
    /* cursor: url(pointer.png), auto; */
}

body {
    background-color: black;
}

.mobileTexts {
    color: white;
    text-align: center;
    margin-left: 30%;
    margin-top: 50%;
    font-family: 'Roboto Condensed', sans-serif;
}

.mobileTexts:hover {
    text-decoration: underline;
}

.mobilePics, .mobileTexts {
    display: none;
}

.mobilePics {
    opacity: .5;
    /* position: fixed; */
    top: 50%; 
    /* background-color: #888888; */
    width: 300px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1em;
    margin-left: 10%;
    border-radius: 1em;
    border: solid white 5px;
}

#MPic1 {
    background-image: url("./Images/Pic1.jpg");
}

#MPic2 {
    background-image: url("./Images/Pic2.jpg");
}

#MPic3 {
    background-image: url("./Images/Pic3.jpg");
}

@media screen and (max-width: 600px) {
#option1 {
    display: none;
}
#option2 {
    display: none;
}
#option3 {
    display: none;
}

  .mobilePics{
    display: inline-block;
  } 
  .mobileTexts {
    display: flex;
  }
}

.homePics, .homeTexts {
    display: none;
  }



#Pic1 {
    display: none;
}

#Pic2 {
    display: none;
}

#Pic3 {
    display: none;
}

.homePics {
    opacity: .5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #888888;
    animation: fade 4s;
    width: 1000px;
    height: 600px;
    border-radius: 1em;
}
  
  @keyframes fade {
    0% {opacity: .4} 
    25% {opacity: 1}
    85% {opacity: 1;}
    100% {opacity: .4;}
  }

.arrows {
    height: 100px;
    width: 70px;
    position: fixed;
}

#rightArrow {
    top: 50%;
    left: 80%;
    transform: translate(-40%, -50%);
}

#leftArrow {
    top: 50%;
    left: 20%;
    transform: translate(-60%, -50%);
}

.homeTexts {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    position: fixed;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

.homeTexts:hover {
    text-decoration: underline;
    cursor: pointer;
}

#Text1 {
    display: none;
}

#Text2 {
    display: none;
}

#Text3 {
    display: none;
}

#PicSelect {
    float: center;
}

.options:hover {
    cursor: pointer;
}

.options {
    display: inline-block;
    left: 47.5%;
    top: 40px;
    position: relative;
}

.options h1 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    bottom: 7px;
    position: relative;
    color: red;
    text-decoration: underline;
}
