@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Exo+2:ital@1&family=Permanent+Marker&family=Roboto+Condensed:wght@700&family=Roboto+Mono:wght@500&family=Roboto:wght@300;400&family=Rubik+Iso&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

.UTXT {
    color: white;
    font-family: 'Exo 2', sans-serif;
}

#BottomUTXT {
    margin-bottom: 1em;
}

#modelsTXT {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5em;
}

.models h1{
    color: black;
    font-family: 'Exo 2', sans-serif;
}

.models {
    width: 480px;
    height: 270px;
    text-align: center;
    line-height: 270px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 50px;
    border: solid 2px white;
}

.models img {
    position: relative;
}

#BathroomProps {
    background: url("Bathroom-PropsPack/bathroom-props.png");
}

#SchoolProps {
    background: url("Images/school-props.png");
}

#container {
    display: grid;
    place-items: center;
}

#OfficeChairs {
    background: url("OfficeChairs/office-chairs.png");
}


@media all and (max-width: 600px) {
    .models {
        width: 430px;
        height: 220px;
    }
}

@media all and (max-width: 445px) {
    .models {
        width: 380px;
        height: 170px;
    }
}