@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Permanent+Marker&family=Roboto+Mono:wght@500&family=Roboto:wght@300&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Permanent+Marker&family=Roboto+Mono:wght@500&family=Roboto:wght@300&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Permanent+Marker&family=Roboto+Condensed:wght@700&family=Roboto+Mono:wght@500&family=Roboto:wght@300&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Permanent+Marker&family=Roboto+Condensed:wght@700&family=Roboto+Mono:wght@500&family=Roboto:wght@300;400&family=Rubik+Iso&display=swap');


#topnav {
    background: rgb(49, 44, 44);
    position: sticky;
    top: 0;
}

.links {
    font-size: 50px;
    padding-right: 15px;
    padding-left: 15px;
    height: 60px;
    text-decoration: none;
    color: white;
    font-family: 'Rubik Iso', cursive;
    transition: linear all 250ms;
    display: inline-block;
    margin-left:-4px;
}
.links:hover {
    background: rgb(151, 6, 6);
    transform: skew(25deg);
}

#menuIcon, #exitIcon {
    float: right;
    border-bottom-left-radius: 0.5em;
}

#exitIcon {
    display: none;
}

#logoIcon {
    float: left;
    border-bottom-right-radius: 0.5em;
}

.icons {
    background: rgb(49, 44, 44);
    display: none;
    width: 60px;
    height: 60px;
}

#logoText {
    display: none;
    color: red;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    font-family: 'Permanent Marker';
}

@media screen and (max-width: 600px) {  
    #topnav {
        display: none;
      }
      .icons {
        display: block;
      }
      #logoText {
        display: inline-block;
      } 
}


#dropdown {
    background-color: rgb(49, 44, 44);
    top: 65px;
    margin-left: 40%;
    position: relative;
    float: right;
    width: 250px;
    height: 270px;
    border-radius: 1em;
    display: none;
    box-shadow: 5px 10px #888888;
    position: absolute;
}

#dropdown a {
    transition: all 200ms;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Rubik Iso', cursive;
}

#dropdown a:hover {
    background: rgb(151, 6, 6);
}

@media screen and (max-width: 500px) {
    #logoText {
      font-size: 35px;
    }
  }
  
  #logo {
      float: left;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 5px;
      width: 50px;
      height: 50px;
  }

  #logo:hover {
    cursor: pointer;
  }
